body {
	min-height: 100vh;
	font-family: var(--main-font);
}

button {
	padding: 10px 30px;
	border: none;
	font: inherit;
	font-family: sans-serif;
	font-weight: 700;
	color: white;
	background-color: var(--primary-light);
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
	background-color: var(--primary);
}

button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}
a {
	font-family: sans-serif;
	color: black;
}
a:visited,
a:active {
	color: black;
}
