@use './colors' as c;
@use './fonts' as f;

body {
	min-height: 100vh;
	font-family: f.$main-font;
}

button {
	padding: 10px 30px;
	border: none;
	font: inherit;
	font-weight: 700;
	color: c.$white;
	background-color: c.$primary-light;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
	background-color: c.$primary;
}

button:disabled {
	background-color: c.$gray-border;
	cursor: not-allowed;
}
a {
	font-family: inherit;
	color: c.$black;
}
a:visited,
a:active {
	color: c.$black;
}
