@mixin typography(
	$size,
	$color,
	$height: 1.5,
	$spacing: 0.8px,
	$weight: false
) {
	font-size: $size;
	color: $color;
	line-height: $height;
	letter-spacing: $spacing;

	@if $weight {
		font-weight: $weight;
	}
}

@mixin flexbox($align, $justify, $direction: false) {
	display: flex;
	align-items: $align;
	justify-content: $justify;

	@if $direction {
		flex-direction: $direction;
	}
}
