@use '../mixins' as m;
@use '../colors' as c;

.faq__answer-block {
	width: 90%;
	margin: 0 auto;
}

.faq__answer {
	@include m.typography(1rem, c.$gray-paragraph, $spacing: 0.5px);
	padding-bottom: 20px;
}
