@use '../mixins' as m;
@use '../colors' as c;

.faq {
	width: 90%;

	&__question {
		@include m.typography(1.2rem, c.$steel-link, $spacing: 0.5px, $weight: 400);
		position: relative;
		background-color: c.$light-bg;
		border-radius: 5px;
		padding: 10px 20px;
		cursor: pointer;
		margin-bottom: 15px;

		&:hover {
			background-color: c.$bright-bg;
		}
	}

	&__icon {
		position: absolute;
		top: 15px;
		right: 20px;
		transition: transform ease 0.2s;
	}
}

.active {
	color: c.$light-bg;
	background-color: c.$steel-link;

	&:hover {
		background-color: c.$steel-active;
	}
}

.rotate {
	transform: rotate(90deg);
}

.v-enter-active,
.v-leave-active {
	transition: height 0.5s ease-in-out;
	overflow: hidden;
}

@media (width < 700px) {
	.faq__icon {
		display: none;
	}
}
