.title {
	margin: 0 0 30px 0;
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: var(--gray-label);
}

.form-control__input-radio {
	display: none;
}

.form-control__input-radio:checked ~ .form-control__option::before {
	visibility: visible;
}

.form-control__option {
	display: block;
	color: var(--gray-label);
	cursor: pointer;
	text-align: center;
	position: relative;
}

.form-control__option::before {
	content: '';
	position: absolute;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	background-color: var(--secondary);
	left: calc(50% - 5px);
	top: calc(200% - 5px);
	visibility: hidden;
}

.form-control__option::after {
	content: '';
	position: absolute;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	border: 2px solid var(--gray-border);
	left: calc(50% - 10px);
	top: calc(200% - 10px);
}

.form-control__option:hover::after {
	border: 2px solid var(--secondary);
}

.radio {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin: 0 0 50px 0;
}

.form-control {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	width: 80%;
}

.form-control__title {
	display: block;
	margin-bottom: 0.5rem;
	letter-spacing: 0.7px;
	color: var(--gray-label);
}

.form-control__input-number {
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	background-color: transparent;
	color: var(--black);
	border: 2px solid var(--gray-border);
	outline: none;
	font-size: 16px;
}

.form-control__input-number:focus,
.form-control__input-number:hover {
	outline: none;
	border: 2px solid var(--secondary);
}

.wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrap-results {
	width: 80%;
	display: flex;
	flex-direction: column;
}

.form-control__input-select {
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	background-color: transparent;
	border: 2px solid var(--gray-border);
	color: var(--black);
	outline: none;
	font-size: 16px;
}

.result-primary {
	color: var(--secondary);
	font-size: 2.2rem;
	margin: 0 0 20px 0;
}

.result-secondary {
	color: var(--secondary);
	font-size: 4rem;
}

.wrapper {
	margin: 0 0 10px 0;
}
