@use '../mixins' as m;
@use '../colors' as c;

.card__title {
	@include m.typography(1.5rem, c.$gray-label, $spacing: 0.5px, $weight: 300);
	margin: 0 0 30px 0;
}

.results {
	@include m.flexbox(flex-start, center, column);
	width: 80%;

	&__group {
		margin: 0 0 10px 0;
	}

	&__title {
		display: block;
		margin-bottom: 0.5rem;
		letter-spacing: 0.7px;
		color: c.$gray-label;
	}

	&__value {
		color: c.$secondary;
		font-size: 2.2rem;
		margin: 0 0 20px 0;
	}

	&__value-main {
		color: c.$secondary;
		font-size: 4rem;
	}
}
