@use '../mixins' as m;
@use '../colors' as c;

.form {
	@include m.flexbox(center, center, column);
	width: 100%;

	&__card-title {
		@include m.typography(1.5rem, c.$gray-label, $spacing: 0.5px, $weight: 300);
		margin: 0 0 30px 0;
	}

	&__group {
		@include m.flexbox(flex-start, center, column);
		margin-bottom: 1rem;
		width: 80%;
	}

	&__input-label {
		display: block;
		margin-bottom: 0.5rem;
		letter-spacing: 0.7px;
		color: c.$gray-label;
	}

	&__input {
		width: 100%;
		padding: 10px;
		border-radius: 3px;
		background-color: transparent;
		color: c.$black;
		border: 2px solid c.$gray-border;
		outline: none;
		font-size: 16px;

		&:hover,
		&:focus {
			outline: none;
			border: 2px solid c.$secondary;
		}
	}
}
