@use '../mixins' as m;

.card__title {
	@include m.typography(
		1.5rem,
		var(--gray-label),
		$spacing: 0.5px,
		$weight: 300
	);
	margin: 0 0 30px 0;
}

.form {
	@include m.flexbox(center, center, column);
	width: 100%;

	&__radios {
		@include m.flexbox(center, space-evenly);
		width: 100%;
		margin: 0 0 50px 0;
	}

	&__radio {
		display: none;

		&:checked ~ .form__radio-label::before {
			visibility: visible;
		}
	}

	&__radio-label {
		display: block;
		color: var(--gray-label);
		cursor: pointer;
		text-align: center;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			border-radius: 50%;
			height: 10px;
			width: 10px;
			background-color: var(--secondary);
			left: calc(50% - 5px);
			top: calc(200% - 5px);
			visibility: hidden;
		}

		&::after {
			content: '';
			position: absolute;
			border-radius: 50%;
			height: 20px;
			width: 20px;
			border: 2px solid var(--gray-border);
			left: calc(50% - 10px);
			top: calc(200% - 10px);
		}

		&:hover::after {
			border: 2px solid var(--secondary);
		}
	}

	&__group {
		@include m.flexbox(flex-start, center, column);
		margin-bottom: 1rem;
		width: 80%;
	}

	&__input-label {
		display: block;
		margin-bottom: 0.5rem;
		letter-spacing: 0.7px;
		color: var(--gray-label);
	}

	&__input {
		width: 100%;
		padding: 10px;
		border-radius: 3px;
		background-color: transparent;
		color: var(--black);
		border: 2px solid var(--gray-border);
		outline: none;
		font-size: 16px;

		&:hover,
		&:focus {
			outline: none;
			border: 2px solid var(--secondary);
		}
	}
}
