@use '../mixins' as m;
@use '../colors' as c;

.form {
	@include m.flexbox(center, center, column);
	width: 100%;

	&__card-title {
		@include m.typography(1.5rem, c.$gray-label, $spacing: 0.5px, $weight: 300);
		margin: 0 0 30px 0;
	}

	&__radios {
		@include m.flexbox(center, space-evenly);
		width: 100%;
		margin: 0 0 50px 0;
	}

	&__radio {
		display: none;

		&:checked ~ .form__radio-label::before {
			visibility: visible;
		}
	}

	&__radio-label {
		display: block;
		color: c.$gray-label;
		cursor: pointer;
		text-align: center;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			border-radius: 50%;
			height: 10px;
			width: 10px;
			background-color: c.$secondary;
			left: calc(50% - 5px);
			top: calc(200% - 5px);
			visibility: hidden;
		}

		&::after {
			content: '';
			position: absolute;
			border-radius: 50%;
			height: 20px;
			width: 20px;
			border: 2px solid c.$gray-border;
			left: calc(50% - 10px);
			top: calc(200% - 10px);
		}

		&:hover::after {
			border: 2px solid c.$secondary;
		}
	}

	&__group {
		@include m.flexbox(flex-start, center, column);
		margin-bottom: 1rem;
		width: 80%;
	}

	&__input-label {
		display: block;
		margin-bottom: 0.5rem;
		letter-spacing: 0.7px;
		color: c.$gray-label;
	}

	&__input {
		width: 100%;
		padding: 10px;
		border-radius: 3px;
		background-color: transparent;
		color: c.$black;
		border: 2px solid c.$gray-border;
		outline: none;
		font-size: 16px;

		&:hover,
		&:focus {
			outline: none;
			border: 2px solid c.$secondary;
		}
	}
	&__err-msg {
		font-size: 0.8rem;
		color: rgb(253, 149, 149);
	}

	.error {
		border: 2px solid rgb(253, 149, 149);
	}
}
