.header {
	width: 100%;
	position: sticky;
	top: 0;
	background: linear-gradient(to right, #6deef7, #6d96f7);
	z-index: 10;
	padding: 10px 0;

	&__logo {
		font-family: 'Orbitron', sans-serif;
		color: white;
	}

	&__container {
		width: 80%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		// padding: 10px 0 0 0;
	}

	&__list {
		list-style: none;
		margin: 0;
	}

	&__list-items {
		display: inline-block;
		margin: 0 10px;
	}
}
.tab {
	padding: 10px 10px 20px 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: white;
	letter-spacing: 0.5px;
	line-height: 1.5;
	font-weight: 400;
}

.active {
	background-color: white;
	color: rgb(26, 26, 52);
}
