@use '../mixins' as m;
@use '../colors' as c;

.hamburger {
	display: none;
	color: c.$white;

	&:hover {
		cursor: pointer;
		color: c.$bright-bg;
	}
}

.sidebar {
	@include m.flexbox(center, center, column);
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(100%);
	z-index: 100;
	width: 50%;
	background-color: c.$primary-light;
	min-height: 100vh;
	transition: all ease 0.5s;

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		margin: 50px;
		color: c.$white;

		&:hover {
			cursor: pointer;
			color: c.$bright-bg;
		}
	}

	&__item {
		display: block;
		font-size: 2rem;
		margin-bottom: 10px;
		color: c.$white;

		&:hover {
			cursor: pointer;
			color: c.$bright-bg;
		}
	}
}

.active {
	transform: translateX(0);
}

@media (width < 800px) {
	.hamburger {
		display: inline-block;
	}
}

@media (width < 600px) {
	.sidebar {
		width: 100%;
	}
}
