.x {
	display: flex;
	flex-direction: column;
	width: 700px;
	// background-color: #e1e8f0;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	// background-color: green;
	// width: clamp(400px, 450px, 500px);
	width: 500px;
	border-radius: 10px;
	padding: 20px;
	// border: 1px solid rgb(192, 192, 192);
	box-shadow: 1px 1px 6px 0px rgba(145, 147, 165, 0.9);
	height: 600px;
	margin: 0 auto;
}
.controls {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
// dla tych paragrafów i headerów będzie mixin
.x__title {
	font-size: 4rem;
	margin: 50px 0;
	line-height: 1.1;
	letter-spacing: 0.5px;
	color: rgb(26, 26, 52);
}

.x__subtitle {
	font-weight: 300;
	margin-bottom: 50px;
	font-size: 2rem;
	color: rgb(122, 120, 120);
}

.x__description {
	line-height: 1.5;
	margin-bottom: 50px;
	color: rgb(54, 54, 54);
	letter-spacing: 0.5px;
}

.progres-bar {
	margin: 0 auto;
}
.bar {
	display: inline-block;
	background-color: rgb(219, 219, 219);
	width: 120px;
	height: 8px;
	margin: 0 1px;
	border-radius: 2px;
}

.aktiv {
	background-color: var(--secondary);
}
