@use '../mixins' as m;

.about {
	min-height: 100vh;
	@include m.flexbox(flex, center, center, column);
	width: 700px;
	margin: 0 auto;
}

.text {
	&__title {
		@include m.typography(4rem, 1.1, 0.5px, var(--black-ink));
		margin: 50px 0;
	}

	&__subtitle {
		@include m.typography(2rem, 1.5, 0.8px, var(--gray-sub), 300);
		margin-bottom: 50px;
	}

	&__paragraph {
		@include m.typography(1.05rem, 1.5, 0.8px, var(--gray-paragraph));
		margin-bottom: 50px;
	}

	&__link {
		@include m.typography(1.05rem, 1.5, 0.8px, var(--steel-link));
		font-family: inherit;

		&:hover {
			color: var(--steel-active);
		}
	}
}

@media (width < 700px) {
	.about {
		width: 100%;
	}

	.text {
		text-align: center;
	}
}
