.contact {
	display: flex;
	min-height: 100vh;
	width: 80%;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.text {
	width: 50%;

	&__subtitle {
		font-weight: 300;
		margin-bottom: 50px;
		font-size: 2rem;
		color: var(--gray-sub);
	}

	&__title {
		font-size: 4rem;
		margin: 50px 0;
		line-height: 1.1;
		letter-spacing: 0.5px;
		color: var(--black-ink);
	}

	&__paragraph {
		line-height: 1.5;
		margin-bottom: 50px;
		color: var(--gray-paragraph);
		letter-spacing: 0.5px;
	}
}

.address {
	&__item {
		display: flex;
		align-items: center;
	}

	&__icon {
		vertical-align: middle;
		margin: 8px;
	}

	&__link {
		display: block;
		font-weight: 700;
		color: var(--gray-paragraph);

		&:hover {
			color: var(--gray-sub);
		}
	}

	&__address {
		font-weight: 700;
		width: 24ch;
		color: var(--gray-paragraph);
	}
}

.form {
	width: 50%;

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__input,
	&__textarea {
		width: 100%;
		padding: 10px;
		border-radius: 3px;
		background-color: transparent;
		color: var(--black);
		font-family: inherit;
		border: 2px solid var(--gray-border);
		outline: none;
		font-size: 16px;
		margin-bottom: 20px;
	}

	&__radios {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	&__case {
		width: 13ch;
		font-weight: 700;
		color: var(--gray-paragraph);
	}

	&__r-item {
		display: flex;
		align-items: center;
	}

	&__label {
		margin-left: 5px;
	}

	&__btn {
		width: 140px;
		margin-left: auto;
	}
}

@media (width < 900px) {
	.contact {
		flex-direction: column;
	}

	.text {
		width: 100%;
	}

	.form {
		width: 100%;
		margin-top: 25px;

		&__radios {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}
