.home {
	display: grid;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: repeat(6, 1fr);
	max-width: 1150px;
	margin: 0 auto;
	min-height: 500px;
}

.hero {
	grid-area: 1 / 1 / 7 / 7;
	margin: 25px auto 100px auto;
	width: 80%;
	text-align: center;

	&__header {
		font-size: 8rem;
		margin: 30px 0;
		line-height: 0.95;
		color: var(--black-ink);
	}

	&__paragraph {
		line-height: 1.5;
		letter-spacing: 0.9px;
		max-width: 70ch;
		font-size: 1.05rem;
		color: var(--gray-paragraph);
		margin: 50px auto 120px auto;
	}

	&__btn {
		background-color: var(--darker-gradient);
		color: var(--white);
		font-family: inherit;
		padding: 15px 60px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 1rem;
		cursor: pointer;
		border-radius: 5px;
		margin: 10px;

		&:hover {
			background-color: var(--cyan);
		}
	}

	&__link {
		text-decoration: none;
		color: inherit;
	}
}

.testimonials {
	display: flex;
	width: 100%;
	margin: 0 auto;
	grid-area: 7 / 1 / 8 / 7;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
		width: calc(100% / 3);

		&--border {
			border-left: 1px solid var(--black);
			border-right: 1px solid var(--black);
		}
	}

	&__icon {
		margin: 10px;
	}

	&__paragraph {
		color: var(--gray-paragraph);
	}
}
